include parts/head1
meta(name='description', content='#{siteDesc}')
meta(name='keywords', content='#{siteKeywords}')
title #{siteName}
include parts/head2
#wrapper
	#app !{html||''}
include parts/footer-js
include parts/footer-end