@require 'parts/prettify'
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8
	list-style-type decimal !important

body
	background #f2f2f2

.main
	min-height 1600px
	background #fff

#menus .lists a
	padding 10px 25px
	display block
	border-radius 5px
	&:hover
		background #ddd
		
	&.active
		background #08c
		color #eee

.loading-transition
	position fixed
	background #333
	animation load 5s 1
	height 2px
	left 0
	top 0
	z-index 100
	width 100%
.loading-enter
	width 0
.loading-leave
	display none

@keyframes load
	0%
		width 0
	100%
		width 100%